<%= render partial: "add_photo" if @user == current_user %>

<div class="album">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo.image_file.url(:large) %></li>
    <% end %>
  </ul>
</div>