/* RESET */

html, body, div, article, section, a, dl, h1, h2, h3, h4, h5, p, time, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}


/* GLOBAL STYLES */

body {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  background-color: lightyellow;
  position: relative;
}

html:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(image_path('map.jpg')) top center;
  opacity: 0.2;
}

h1, h2, h3, h4 {
  font-family: 'MedievalSharp', cursive;
}

h1 {
  font-size: 36pt;
  padding: 20px;
}

h2 {
  font-size: 24pt;
  padding: 0 0 10px 0;
}

article, section, time {
  display: block;
}

hr {
  margin: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: maroon;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}


.header {
  background: maroon;
  color: gold;
  box-shadow: inset 0 0 20px #400000;
}


.left {
  float: left;
}

.right {
  float: right;
}

.nav-bar > li {
  position: relative;
  float: left;
  padding: 40px 20px 20px 20px;
  font-family: 'MedievalSharp', cursive;
  font-size: 13pt;

  a {
    color: gold;
  }
}

.nav-bar .right > li {
  float: right;
}

.nav-list {
  color: gold;
}

.nav-list:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  border-bottom: 1px solid grey;
}

.dropdown > li {
  padding: 5px 10px 0 10px;
}

.nav-bar > li:hover > .dropdown {
  background: maroon;
  display: block;
  width: 225px;
  border-radius: 1em;
}


.sign-out > .button_to {
  input {
    border: none;
    margin: 0;
    padding: 0;
    background: inherit;
    font: inherit;
    color: gold;
  }

  input:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.notice, .alert {
  display: none;
}

.content {
  width: 800px;
  margin: auto;
  padding: 40px 0;
}
