/* RESET */

html, body, div, article, section, a, dl, h1, h2, h3, h4, h5, p, time, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}


/* GLOBAL STYLES */

body {
  font-family: Palatino, "Palatino Linotype", Baskerville, "Hoefler Text",
               Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: Papyrus, fantasy;
  font-size: xx-large;
  color: darkgreen;
  padding: 20px;
  float: left;
}

article, section, time {
  display: block;
}

hr {
  margin: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: darkgreen;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.header {
  background: gainsboro;
}
.nav-bar > li {
  position: relative;
  float: left;
  padding: 40px 20px 20px 20px;
}

.nav-list {
  color: darkgreen;
}

.nav-list:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  border-bottom: 1px solid grey;
}

.dropdown > li {
  padding: 5px 10px 0 10px;
}

.nav-bar > li:hover > .dropdown {
  background: gainsboro;
  display: block;
  width: 225px;
  border-radius: 1em;
}

.sign-out > .button_to {
  float: right;
  padding: 40px 20px 20px 20px;

  input {
    border: none;
    background: inherit;
    font: inherit;
    color: darkgreen;
  }

  input:hover {
  text-decoration: underline;
  cursor: pointer;
  }
}

.notice, .alert {
  display: none;
}

.content {
  width: 800px;
  margin: auto;
  padding: 40px 0;
}
