html, body, div, article, section, a, h1, p, time, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  font-family: Verdana, Geneva, Helvetica, sans-serif;
}

h1 {
  font-family: fantasy;
}

nav ul li {
  display: inline;
  margin: 20px;
  height: 20px;
}

.profile-avatar {
  margin: 40px;
  float: left;
}

.name-header {
  margin: 50px;
  height: 200px;
  clear: none;
}

table {
  width: 300px;
  clear: left;
}

table:after {
  clear:both;
  content: "";
  display: table;
}

th {
  text-align: right;
  padding: 3px 7px;
}

.user-profile {
  float: left;
}

.family {
  width: 300px;
  display: inline;;
}

