
/* WALL */

.wall-container {
  margin: 50px auto;
  width: 500px;
  padding: 10px;
  border-radius: 1em;
  background: gainsboro;
}

.post {
  background: lightyellow;
  font-size: large;
}

.post > header {
  padding: 20px;
}

.post-pic {
  border: 2px solid grey;
  float: left;
}

.wall-post-info {
  float: left;
  padding: 25px 0 0 20px;
}

.wall-post-info > h4 {
  font-weight: bold;
  padding: 0 0 10px 0;
}

.wall-post-content {
  padding: 0 20px 0 20px;
}

.post-attachment {
  padding: 0 0 15px 0;
}

.post-likes {
  padding: 20px 0;
  display: block;
}

.post-likes > .like-button {
  float: right;
  padding: 0 250px 0 0 ;
}

.comment {
  background: lightyellow;
  font-size: small;
}

.comment-box {
  padding: 20px;
}

.comment .post-pic {

}

.wall-comment-content {
  float: left;
  padding: 15px 0 0 10px;
  width: 380px;
}

.wall-comment-content em {
  padding: 0 5px 0 0;
}

.wall-comment-content p {
  padding: 0 0 5px 0;
}

.wall-comment-footer li {
  list-style: none;
  float: left;
  padding: 5px 10px 0 0;
}

.wall-comment-footer > ul > li > .like-button > .button_to {
  float: left;
}

.comment-form {
  background: lightyellow;
  font-size: large;
  padding: 20px;
}
